# This workflow will build a golang project
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go


          
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.22'

      - name: Build on Linux
        run: go build -o it-works

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.22'
      - name: Build on macOS
        run: go build -o it-works

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses:  actions/setup-go@v6.1.0
        with:
          go-version: '1.22'

      - name: Build on Windows
        run: go build -o it-works.exe
